@use '../../../styles/abstracts/' as *;

//-----navbar-----
.homeHeader{
   position: fixed;
   z-index: 10000;
   width: 100vw;
   top: 0;
}
.homeContent{
   position: relative;
   top: 97.4px;
   background-color: $mainBgColor;
   &__contentWapper{
      margin: 0 6rem;
   }
}

.homeFooter{
   position: relative;
   top: 97.4px;
   background-color: #fff;
   border-top: 4px solid $baseColor;
   &__footerWapper{
      margin: 0 6rem;
   }
}

.navbar {
   padding: 0.8rem 0;

   &.customer {
      background: linear-gradient(-180deg, $baseColorSolid, $baseColorBlur);

      & .navbar__wrapperList {
         display: flex;
         justify-content: space-between;
         margin: 0 6rem;

         & .navbar_linklist {
            display: flex;
            list-style: none;
            align-items: center;

            & .listItem {
               margin: 0 1rem 0 0;
               // color: #0062ff;

               & .subList {
                  display: flex;
                  list-style: none;
                  justify-content: space-evenly;
               }

               & .item {
                  display: flex;
                  align-items: center;
               }

               & .link {
                  text-decoration: none;
               }

               & .box {
                  cursor: pointer;
               }

               &__title {
                  color: #fff;
                  transition: all 0.2s ease-in-out;
               }

               &__title:hover {
                  color: $lightBlueColor;
               }

               &__icon {
                  display: flex;
                  align-items: center;
                  color: #fff;
                  margin-right: 5px;
               }
            }

            &__userActive {
               position: relative;

               &__userWrapper {
                  display: flex;
                  align-items: center;
                  cursor: pointer;

                  & .name {
                     color: #fff;
                     font-size: 14px;
                     margin-left: 5px;
                  }
               }

               &__acction {
                  list-style: none;
                  position: absolute;
                  background-color: #fff;
                  padding: 0rem 0.6rem;
                  width: 170px;
                  right: 0;
                  top: 45px;
                  box-shadow: 1px 0 5px 0px rgba($baseColorBlur, 0.5), 0 1px 5px 0px rgba($baseColorBlur, 0.5);
                  border-radius: 2px;
                  // display: none;
                  transform-origin: 80px 0;
                  transform: scale(0);
                  transition: 0.15s all ease-out;
                  z-index: 10000;

                  &.active {
                     display: block;
                     transform: scale(1);
                  }

                  & .acctionUnit {
                     margin: 10px 0;
                     cursor: pointer;
                     font-size: 14px;
                     font-weight: 500;

                     &.normal:hover {
                        color: $lightBlueColor;
                     }

                     & .link {
                        text-decoration: none;
                        color: #333;
                        transition: all 0.2s ease-in-out;

                        &:hover {
                           color: $lightBlueColor;
                        }
                     }
                  }

                  &::after {
                     border-width: 15px;
                     border-color: transparent transparent #fff transparent;
                     border-style: solid;
                     position: absolute;
                     top: -30px;
                     right: 33%;
                     content: '';
                  }
               }
            }
         }

         & .navbar_linklist.right {
            & .subList {
               & .listItem:last-child {
                  padding: 0 0 0 1rem;
                  border-left: 1px solid #fff;
               }
            }

            & .listItem:last-child {
               margin-right: 0 !important;
            }
         }
      }
      & .navbar__wapperTool{
         margin: 0 6rem;
         display: flex;
         align-items: center;
         justify-content: space-between;
         &__logo{
            display: flex;
            text-decoration: none;
            align-items: center;
            &__title{
               color: #fefefe;
               letter-spacing: 1px;
               margin: 0;
               padding-left: 10px;
            }
         }
         &__wapperSearch{
            display: flex;
            flex: 0 1 600px;
            &__form{
               display: flex;
               align-items: center;
               flex: 1 1 100%;
               position: relative;
               &__input{
                  width: 100%;
                  padding: 5px 10px;
                  font-size: 0.9rem;
                  border-radius: 2px;
                  border: 1px solid gray;
                  &:focus{
                     outline: none;
                  }
               }
               &__button{
                  padding: 5px 10px;
                  background-color: $baseColorSolid;
                  color: #fff;
                  font-size: 1rem;
                  border: none;
                  border-radius: 2px;
                  display: flex;
                  align-items: center;
                  position: absolute;
                  right: 2px;
                  cursor: pointer;
                  &:hover{
                     background-color: rgba($color:  $baseColorSolid, $alpha: 0.8);
                  }
               }
            }
         }
         &__cart{
            & .badge{
               & .logo{
                  width: 25px;
                  height: 25px;
                  color: #fff;
               }
            }
         }
         &__shop{
            &__link{
               text-decoration: none;
               color: #fff;
               display: flex;
               align-items: center;
               font-size: 18px;
               text-transform: capitalize;
               &__title{
                  margin-left: 5px;
               }
            }
         }
      }
   }
}
//-----end navbar-----