@use './variable' as *;

@mixin flex($align-items, $justify-content) {
    display: flex;
    align-items: $align-items;
    justify-content: $justify-content;
}

@mixin minScreen {
    @media only screen and (max-width: $minScreen) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (max-width: $tablet-width) {
        @content;
    }
}

@mixin mobile {
    @media only screen and (max-width: $mobile-width) {
        @content;
    }
}

@mixin baseButton {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    background-color: $baseColor;
    color: #fff;
    &:hover{
        transition: opacity 0.2s ease;
        background: rgba($color: $baseColor, $alpha: 0.8);
    }
}