$baseColor:#2065D1;
$baseColorBlur:#76B0F1;
$baseColorSolid:#0c54c7;
$lightBlueColor:#52ecf7;
$mainBgColor: #f5f5f5;

$txtColor: #e6e9ec;
$txtColor-Light: #4e5457;

$white: #fff;
$dangerColor: #ef5350;
$dangerColorHover: #cb4744;
$oceanColor: #398bf7;

$overlay: #262e37;

$mobile-width: 600px;
$tablet-width: 990px;
$minScreen: 1250px;

$fontSizeNormal: 1rem;
$fontSizeMedium: 1.25rem;
$fontSizeLarge: 1.5625rem;

$fontFamily: 'Montserrat', sans-serif;

$topNavHeight: 3.5rem;
$sidebarWidth: 15rem;
$sidebarHideWidth: 4.5rem;
$spacing: 2rem;

// Color theme
$themeWhite: #fff;
$themeBlack: #192430;
$themePurple: #745af2;
$themeGreen: #06d79c;
$themeRed: #ef5350;
$themeBlue: #398bf7;
$themeYellow: #ffb22b;

$themeBlackHover: #242a33;
$themePurpleHover: #634dce;
$themeGreenHover: #05b785;
$themeRedHover: #cb4744;
$themeBlueHover: #3076d2;
$themeYellowHover: #d99725;

$loginPageBg: #3b85dc;

$loginFormMaxHeight: 750px;
$registerFormMaxHeight: 850px;
$loginFormMaxWidth: 1400px;