// -------------------------------Logo----------------------------------------
.logo {
   width: 50px;
   height: 50px;
}

// -------------------------------spinner------------------------------------
.spinner {
   position: absolute;
   background-color: #fff;
   z-index: 100000;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;

   &__container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
   }
}
// ---------------------form normal----------------------
.fieldWapper{
   display: flex;
   align-items: center;
   
   &__label{
      flex: 1 0 100px;
      color: #666 !important;
      font-size: 15px !important;
      text-align: end;
      margin-right: 20px;
   }

   & .formCustom{
      width: 100%;
      & input{
         padding: 8px 14px !important;
         width: 100%;
      }
   }
}