@use '../../../styles/abstracts/' as *;

.cart {
   .cartWapper {
      padding-top: 30px;

      &__tableCartContainer {
         &__tableCart {
            & .tableCartHeader {
               box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
               background-color: #fff;
               margin-bottom: 15px;
            }

            & .tableCartBody {
               background-color: #fff;
               box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);

               & .linkProduct {
                  text-decoration: none;
                  color: #666;
                  display: flex;
                  align-items: center;
               }

               & .unitPrice.sale {
                  color: #888;
                  font-size: 13px;
                  text-decoration: line-through;
               }

               & .amountWapper {
                  display: flex;

                  &__subtract {
                     border-right: none !important;
                     cursor: pointer;
                     padding: 5px;
                  }

                  &__add {
                     border-left: none !important;
                     cursor: pointer;
                     padding: 5px;
                  }

                  &__input {
                     width: 50px;

                     & input {
                        width: 100%;
                        padding: 5px;
                        border: none;
                        outline: none;
                        text-align: center;
                     }
                  }

                  & .common {
                     border: 1px solid rgba($color: #888, $alpha: 0.3);
                     display: flex;
                     align-items: center;
                  }
               }
            }
         }
      }

      & .toolCartWapper {
         display: flex;
         align-items: center;
         justify-content: space-between;
         background-color: #fff;
         margin: 20px 0;
         padding: 20px 5px;
         position: sticky;
         bottom: 0;
         box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);

         &__checkAll {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #555;
         }

         &__checkbox {}

         &__checkBoxLabel,
         &__delete {
            cursor: pointer;
            margin-right: 10px;

            &:hover {
               color: #888;
            }
         }

         &__cartInfoWapper {
            display: flex;

            &__cartInfo {
               display: flex;
               flex-direction: column;
               font-weight: 500;

               &__totalPayment {
                  margin-bottom: 10px;
               }
            }

            &__payment {
               display: flex;
               align-items: center;
               justify-content: center;

               & .btnPayment {
                  border: none;
                  padding: 10px 15px;
                  border-radius: 2px;
                  color: #fff;
                  text-transform: capitalize;
                  font-weight: 500;
                  background-color: $baseColor;
                  cursor: pointer;
                  margin-left: 15px;

                  &:hover {
                     background-color: rgba($baseColor, 0.9);
                  }
               }
            }
         }
      }
   }

   &__cartEmpty {
      height: 21rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      & .imgCartEmpty {
         width: 6.75rem;
         height: 6.125rem;
         background-repeat: no-repeat;
         background-size: cover;
         background-position: center;
      }

      & .notifyCartEmpty {
         color: #666;
         font-size: 16px;
         font-weight: 550;
         margin-top: 10px;
      }

      & .buyNow {
         margin-top: 20px;
         height: auto;
         text-decoration: none;
         text-transform: capitalize;
         font-size: 16px;
         padding: 10px 30px;
         background-color: $baseColor;
         color: #fff;
         font-weight: 500;
         border-radius: 3px;

         &:hover {
            background-color: rgba($color: $baseColor, $alpha: 0.9)
         }
      }
   }
}

.confirmDeleteCartItem {
   & button[data-click='confirm'] {
      color: red;
   }
}