.detailOrder {
   background-color: #fff;
   width: 80%;
   border-radius: 3px;
   box-shadow: 0 1px 2px 0 rgb(0 0 0 / 13%);
   padding: 1rem 1.875rem 0.625rem;
   margin-bottom: 15px;

   &__title {
      color: #666;
      font-weight: 600;
      margin-bottom: 30px;
      text-align: center;
      text-transform: uppercase;
      font-size: 16px;
   }

   &__canceledOrder{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      & .icon{
         font-size: 28px;
         color: red;
      }
      &__title{
         font-size: 17px;
         text-transform: capitalize;
         font-weight: 500;
         color: #666;
         margin-top: 10px;
      }
   }

   & .orderWapper {
      max-width: 80%;
      width: 90%;
      margin: 20px auto;

      &__tableProducts {
         box-shadow: 1px 1px 1px 0 rgb(0 0 0 / 5%),
            -1px -1px 1px 0 rgb(0 0 0 / 5%),
      }

      &__order{
         .btnCancel{
            background-color: rgb(196, 0, 0);
            &:hover{
               background-color: rgba(196, 0, 0, 0.9);
            }
         }
      }
   }
}