@use '../../../styles/abstracts/' as *;

.home {
   & .homeWapper {
      padding-top: 30px;
      padding-bottom: 30px;

      &__slideBar {
         position: relative;
         &__link {
            display: block;
            text-decoration: none;

            &__image {
               width: 100%;
               height: auto;
               border-radius: 5px;
            }
         }

         & .swiper-prev-slideBar, .swiper-next-slideBar{
            position: absolute;
            background-color: rgba($color: #000, $alpha: 0.4);
            box-shadow: 0 1px 12px 0 rgb(0 0 0 / 12%);
            width: 44px;
            height: 44px;
            border-radius: 50%;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translateY(-50%);
            font-size: 18px;
            z-index: 1000;
            top: 50%;
            transition: all .1s cubic-bezier(.4,0,.6,1);
            cursor: pointer;
            visibility: hidden;
         }
         &:hover{
            & .swiper-prev-slideBar, .swiper-next-slideBar{
               visibility: visible;
            }
         }

         & .swiper-next-slideBar{
            right: -22px;
         }
         & .swiper-prev-slideBar{
            left: -22px;
         }
      }
      &__categories{
         background-color: #fff;
         border-radius: 3px;
         padding: 15px 0;
         margin-top: 15px;
      }
      &__flashSale{
         background-color: #fff;
         padding: 15px 0;
         margin-top: 15px;
         border-radius: 3px;
         padding: 0 5px;
      }
   }
}