@use '../../../styles/abstracts/' as *;

.productsPage {
   padding: 20px 0 60px 0;
   & .MuiPagination-ul {
      justify-content: center;
   }

   & .search-result {
      color: #666;
      margin-bottom: 20px;
      font-weight: 500;
      display: flex;
      align-items: center;
      &__keyword {
         font-weight: 700;
         color: $baseColor;
         margin-left: 5px;
      }

      &__icon {
         font-size: 20px;
         display: inline-flex;
         align-items: center;
         margin-right: 5px;
      }
   }

   & .productList {
      list-style: none;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 20px;
      margin-bottom: 30px;

      &.empty {
         grid-template-columns: repeat(1, 1fr);
      }

      &__productItem {
         background: #fff;

         &__link {
            color: #333;
            text-decoration: none;
            font-weight: 600;
            text-align: center;
            font-family: sans-serif;
         }
      }

      & .productEmpty {
         height: 30rem;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         &__img {
            background-image: url('http://localhost:3000/static/cartEmpty.png');
            width: 6.75rem;
            height: 6.125rem;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
         }

         &__notifyProductEmpty {
            color: #666;
            font-size: 16px;
            font-weight: 550;
            margin-top: 10px;
         }
      }
   }
}
